@page "/{author}/AboutMe"
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Nooter";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}
<!--This is for the About Me page, which contains all stored info about user -->
<div>
    <!-- This is to make sure that if a name ends with s it does not say e.g. marcus's -->
    @if (routeName!.ToString()!.EndsWith("s"))
    {
        <h2> @routeName' Profile </h2>
    }
    else
    {
        <h2> @routeName's Profile </h2>
    }
    
    <ul id="messagelist" class="cheeps">
        <li>
            <div class="Aboutme">
                <h3>Personal Information</h3>

                <form method="post" asp-page-handler="Download">
                    <button class="information" type="submit"> Download My <br/> Information </button>
                </form>


            </div>
            <div class="Informationandbutton">
                <div>
                    <p><strong>Name:</strong> @routeName</p>
                    <br>

                    <p><strong>Email:</strong> @Model.Email</p>
                    <br>
                    <p><strong>Following:</strong></p>
                    <p>@Model.Followers</p>
                    <br>
                    <p><strong>Noots:</strong></p>
                    <p>@Model.Cheeps</p>
                    <br>
                    <br>
                </div>
                <div class="ForgetMeDiv">
                    <form method="post" asp-page-handler="Forgetme">
                        <input type="hidden" name="author" value="@User.Identity?.Name">
                        <button type="submit" class="ForgetMe">Forget Me!</button>
                    </form>
                </div>
            </div>

        </li>
        <li>
            @if (routeName.ToString()!.EndsWith("s"))
            {
                <h3> @routeName' BIO </h3>
            }
            else
            {
                <h3> @routeName's BIO </h3>
            }
            <div class="BioDiv">
                <div>
                    @if (Model.Bio != null)
                    {
                        <p>
                            @Model.Bio.Text
                        </p>
                    }
                    else
                    {
                        <em>There are no Bio so far.</em>
                    }
                </div>
                <partial name="Shared/_BioBoxPartial" model="Model.BioInput"/>
                <br/>
                <br/>
            </div>



        </li>
    </ul>




</div>